crontab
어떤 스크립트를 특정 기간마다 가동시킬 때 사용

crontab -e
편집

crontab -l
확인

crontab -r
삭제


주기
*           *          *          *           *
분(0-59)    시간(0-23)  일(1-31)    월(1-12)    요일(0-7)

ex:
*/10 * * * * 10분 간격으로 실행